{
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "strict",
  "trailingComma": "es5",
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
